.Authentication {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    position: absolute;
    z-index: 1000;
    left: 35%;
    right: 35%;
    background: rgba(36, 41, 46, .5);
    color: white;
    width: 30%;
    height: 500px;
    padding: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1, h4 {
      text-align: center;
    }
    h4 span {
      color: lime;
      cursor: pointer;
      padding: 0 10px;
      &:hover {
      }
    }
    .login, .register {
      display: flex;
      flex-direction: column;
      align-items: center;
      label {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
      }
      input {
        margin-top: 5px;
        padding: 5px 10px;
        border-radius: 6px;
        border: none;
        outline: 0;
      }
      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
          margin-left: 10px;
        }
      }
      button {
        padding: 5px 10px;
        width: 150px;
        border-radius: 10px;
        border: none;
        outline: 0;
        &:hover {
          cursor: pointer;
          background: lighten(#24292e, 25%);
        }
      }
      .inCorrect {
        border: 1px solid red;
      }
      .correct {
        border: none;
      }
    }
  }
}

@media (max-width: 720px) {
  .Authentication {
    .form {
      left: auto;
      right: auto;
      width: 100%;
      height: 100vh;
      padding: 0;
      border-radius: 0;
    }
  }
}