.ToDoList {
  padding: 0 20px;
  overflow-y: auto;
  margin-bottom: 50px;
  margin-top: 10px;
  .category {
    color: rgba(162, 164, 215, 1);
    text-shadow: -1px 0 rgba(0, 0, 0, .4), 0 1px rgba(0, 0, 0, .4), 1px 0 rgba(0, 0, 0, .4), 0 -1px rgba(0, 0, 0, .4);
    text-align: center;
    //border-bottom: 2px solid rgba(162, 164, 215, 1);
    padding: 5px;
    margin: 20px 0 0 0;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .ToDoList {
    padding: 0;
    width: 100%;
  }
}