.DashBoard {
  height: 100%;
  background: #24292e;
  overflow: hidden;
  .DashBoardWidgets {
    display: flex;
  }
}
.collapsed_true {
  padding-left: 40px;
  width: calc(100% - 40px);
}
.collapsed_false {
  padding-left: 200px;
  width: calc(100% - 200px);
}

@media (max-width: 720px) {
  .DashBoard {
    .DashBoardWidgets {
      flex-direction: column;
    }
  }
  .collapsed_false {
    padding-left: 150px;
    width: calc(100% - 150px);
  }
}
