.calendar {
  //width: 600px;
  //height: 485px;

  width: 50%;
  position: fixed;
  right: 0;
  background: #353A40;
}
.fullCalendar {
  width: 100%;
  height: 100vh;

  //position: fixed;
  //right: 0;
  background: #353A40;
}
@media (max-width: 720px) {
  .calendar {
    position: static;
    width: 100%;
  }
}