.UserAccount {
  position: relative;
  top: 0;
  width: 500px;
  height: 100%;
  background: lighten(#24292e, 5%);
  display: flex;
  justify-content: space-between;
  color: #b6b6e2;
  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    h4 {}
    img {
      border-radius: 100px;
    }
  }
  .body {
    padding: 20px;
    .item {
      &_name {
        color: lighten(#24292e, 30%);
        margin-right: 10px;
      }
      &_value {
        display: flex;
        span {
          width: 200px;
          padding-left: 10px;
        }
      }
      .dataChange {
        background: transparent;
        color: white;
        border: none;
        font-size: 16px;
        border-bottom: 1px solid blue;
        padding-left: 10px;
      }
      &_icon {
        margin-left: 5px;
        cursor: pointer;
        font-size: 12px;
        padding-bottom: 5px;
      }
    }
  }
  .btn {
    background: #24292e;
    color: white;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    height: 100%;
    writing-mode: vertical-rl;
    text-align: center;
    &:hover {
      background: lighten(#24292e, 1%);
      border-left: 1px solid blue;
      color: whitesmoke;
      text-shadow: 1px 1px 1px blue;
      transition: 1s;
    }
  }

}

@media (max-width: 720px) {
  .UserAccount {
    width: 100%;
    .body {
      padding: 10px;
    }
  }
}