.Notifications {
  position: relative;
  top: 0;
  right: 0;
  //width:100%;
  width: 500px;
  min-height: 100%;
  //max-height: 100vh;
  overflow-y: scroll;
  color: white;
  background: lighten(#24292e, 5%);

  h2 {
    text-align: center;
  }
  .message {
    background: lighten(#24292e, 10%);
    //background: rgba(255, 215, 255, .5);
    margin: 10px;
    padding: 10px;
    border: 1px dotted #24292e;
    border-radius: 10px;
    min-height: fit-content;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        .id {
          color: lighten(#24292e, 50%);
          font-size: 14px;
        }
        .menu {
          //position: absolute;
          //right: 20px;
          .btn {
            cursor: pointer;
            padding: 0 5px;
          }
        }
      }
      .subtitle {
        color: lighten(#24292e, 50%);
        font-size: 14px;
      }
    }
    .body {
      p {
        word-wrap: normal;
        font-family: -apple-system, sans-serif;
      }
    }
  }
}

@media (max-width: 720px) {
  .Notifications {
    width: 100%;
    .message {
      .body {
        padding: 10px;
      }
    }
  }
}