.Notifications {
  position: relative;
  top: 0;
  right: 0;
  //width:100%;
  width: 500px;
  height: 100%;
  background: #FFF0F5;
  color: #24292e;
  h2 {
    text-align: center;
  }
  .message {
    background: #FFE4E1;
    margin: 10px;
    padding: 10px;
    border: 1px dotted coral;
    border-radius: 10px;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .title {
        width: 100%;
        text-align: center;
        .menu {
          position: absolute;
          right: 20px;
          .btn {
            cursor: pointer;
            padding: 0 5px;
          }
        }
      }
      .subtitle {
        color: lighten(#24292e, 50%);
        font-size: 14px;
      }
    }
    .body {
      p {
        word-wrap: break-word;
      }
    }
  }
}

@media (max-width: 720px) {
  .Notifications {
    width: 100%;
  }
}