.TaskManager {
  width: 100%;
  min-height: 100vh;
  background: lighten(#353A40, 10%);
  overflow-y: scroll;
  //.leftSide {
  //  width: 50%;
  //}
  //.rightSide {
  //  position: fixed;
  //  right: 0;
  //  width: 45%;
  //
  //}
  .wrapper {
    display: flex;
  }
  .TaskList {
    width: 50%;
  }
}
@media (max-width: 720px) {
  .wrapper {
    flex-direction: column;
    .TaskList {
      width: 100%;
    }
  }
}
