.TaskManager {
  width: 100%;
  min-height: 100vh;
  //background: lighten(#24292e, 70%);
  background: rgba(0, 0, 255, .1);
  //background: #24292e;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
  .leftSide {
    width: 50%;
  }
  .rightSide {
    position: fixed;
    right: 0;
    width: 45%;

  }
  //div {
  //  border: 1px solid black;
  //}
}
@media (max-width: 720px) {
  .TaskManager {
    flex-direction: column;
    .leftSide, .rightSide {
      width: 100%;
    }
    .leftSide {
      display: flex;
    }
  }
}
