.Navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #24292E;
  color: white;
  .title {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    width: 15%;
    padding: 0 5px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
  }
}