.PersonalFinance {
  width: 100%;
  height: calc(100vh - 50px);
  border-radius: 10px;
  background: rgba(0, 255, 0, .1);
  h1 {
    color: rgba(0, 255, 0, 1);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
    text-align: center;
  }
}
