.UserAccount {
  position: relative;
  top: 0;
  width: 500px;
  height: 100%;
  background: lighten(#24292e, 5%);
  //background: linear-gradient(
  //                to right top,
  //                rgba(209, 107, 165, .5),
  //                rgba(199, 119, 185, .5),
  //                rgba(186, 131, 202, .5),
  //                rgba(170, 143, 216, .5),
  //                rgba(154, 154, 225, .5),
  //                rgba(138, 167, 236, .5),
  //                rgba(121, 179, 244, .5),
  //                rgba(105, 191, 248, .5),
  //                rgba(82, 207, 254, .5),
  //                rgba(65, 223, 255, .5),
  //                rgba(70, 238, 250, .5),
  //                rgba(95, 251, 241, .5)
  //);
  color: white;
  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    h4 {}
    img {
      border-radius: 100px;
    }
  }
  .body {
    padding: 20px;
    .item {

      &_name {
        color: lighten(#24292e, 30%);
        margin-right: 10px;
      }
      &_value {
        display: flex;
        span {
          width: 200px;
          padding-left: 10px;
        }
      }
      .dataChange {
        background: transparent;
        color: white;
        border: none;
        font-size: 16px;
        border-bottom: 1px solid blue;
        padding-left: 10px;
      }
      &_icon {
        margin-left: 5px;
        cursor: pointer;
        font-size: 12px;
        padding-bottom: 5px;
      }
    }
  }
  tr:last-child td:last-child {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .btn {
      background: transparent;
      color: white;
      border-radius: 10px;
      padding: 5px 10px;
      outline: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 720px) {
  .UserAccount {
    width: 100%;
    .body {
      padding: 10px;
    }
  }
}