.UserAccount {
  position: relative;
  top: 0;
  width: 500px;
  height: 100%;
  background: #FFF0F5;
  color: #24292e;
  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    h4 {}
    img {
      border-radius: 100px;
    }
  }
  .body {
    padding: 20px;
    .item {

      &_name {
        color: lighten(#24292e, 50%);
        margin-right: 10px;
      }
      &_icon {
        margin-left: 5px;
        cursor: pointer;
        font-size: 12px;
        padding-bottom: 5px;
      }
    }
  }
}

@media (max-width: 720px) {
  .UserAccount {
    width: 100%;
  }
}