.table {
  text-align: center;
  width: 100%;
}
.td {
  border: 1px solid white;
  color: white;
}
.td:nth-child(1) {
  max-width: 100px;
}
.td:nth-child(2) {
  width: 100%;
}
.td {
  width: 100px;
  height: 25px;
  border: 1px solid white;
  position: relative;
}
.td:hover {
  transform: scale(.999);
  cursor: pointer;
}
.td a {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  text-decoration: none;
  color: white;
  padding: 5px;

}

.decorate {
  box-shadow: inset 2px -1px 5px lighten(#9191d4, 10%);
}
.decorateDate {
  border: 1px solid lime;
  a {
    //font-weight: bold;
    color: lime;
  }
}

.task {
  display: flex;
  flex-direction: column;
  span:nth-child(1) {
    color: white;
    font-size: 12px;
  }
  span:nth-child(2) {
    color: white;
    font-size: 12px;
    text-decoration: overline;
  }
}