.Navbar {
  height: 50px;
  background: lighten(#24292e, 5%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  .list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    transform: skewX(-10deg);
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      flex-grow: 1;
      &:hover {
        background: #24292e;
        cursor: pointer;
        transition: 20ms;
      }
      .item_icon {
        font-size: 20px;
        cursor: pointer;
        margin-right: 5px;
      }
    }
    .selected {
      background: #24292e;
      color: #9191d4;
    }
  }
  .items {
    display: flex;
    height: 50px;
    transform: skewX(-10deg);
    width: 20%;
    justify-content: space-between;
    .item {
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      &:hover {
        background: #24292e;
        cursor: pointer;
        transition: 20ms;
      }
      span {
        padding-left: 32px;
        top: 28px;
        font-size: 16px;
        position: absolute;
      }
      img {
        width: 36px;
        height: 36px;
        border-radius: 100px;
      }
    }
    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 50px;
      cursor: pointer;
      transform: skewX(10deg);
    }
    .selected {
      background: #24292e;
      color: #9191d4;
    }
  }
}

@media (max-width: 720px) {
  .Navbar {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    .list {
      width: 50%;
      .item span {
        display: none;
      }
    }
    .items {
      width: 50%;
    }
  }
}