.table {
  text-align: center;
  width: 100%;
  table-layout: fixed;

}
.thead td {
    border: 1px solid white;
    color: white;
}
.td {
   width: 100%;
   height: 120px;
   border: 1px solid white;
   position: relative;
}
.td:hover {
    transform: scale(.95);
    cursor: pointer;
}
.td a {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    text-decoration: none;
    color: white;
    padding: 5px;

}

.decorate {
    background: lighten(#353A40, 4%);
  //border: 1px solid #9191d4;
}
.decorateDate {
  border: 1px solid  lime;
  a {
    color: lime;
  }
}

.task {
  display: flex;
  flex-direction: column;
  //position: absolute;
  //top: 0;
  span:nth-child(1) {
    color: white;
    font-size: 12px;
  }
  span:nth-child(2) {
    color: white;
    font-size: 12px;
    text-decoration: overline;
  }
}