.Notifications {
  position: relative;
  top: 0;
  right: 0;
  width: 500px;
  min-height: 100%;
  overflow-y: scroll;
  color: #b6b6e2;
  background: lighten(#24292e, 5%);

  h2 {
    text-align: center;
  }
  .message {
    box-shadow: inset 2px -1px 5px #24292e, inset -2px 1px 5px #24292e;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    min-height: fit-content;
    border: 1px solid #9191d4;
    color: #b6b6e2;
    background: #353A40;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        .id {
          color: lighten(#24292e, 50%);
          font-size: 14px;
        }
        .menu {
          .btn {
            cursor: pointer;
            padding: 0 5px;
          }
        }
      }
      .subtitle {
        color: lighten(#24292e, 50%);
        font-size: 14px;
      }
    }
    .body {
      p {
        word-wrap: normal;
        font-family: -apple-system, sans-serif;
      }
    }
  }
}

@media (max-width: 720px) {
  .Notifications {
    width: 100%;
    .message {
      .body {
        padding: 10px;
      }
    }
  }
}