.Category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#353A40 10px, transparent);
  color: azure;
  height: 28px;
  text-align: center;
  position: fixed;
  width: 100%;
  //z-index: 1000;
  .title {
    padding-left: 15px;
  }
  .categoryType {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    //flex-grow: 1;
    width: 200px;
    border: 1px solid #9191d4;
    border-radius: 5px 15px 0 0;
    background: #353A40;
    height: 26px;
      &:hover {
      }
  }
  .selected {
    color: #9191d4;
    background: linear-gradient(#353A40 10px, transparent);
    border-bottom: none !important;
  }
  .length {
    position: absolute;
    padding-left: 28px;
    top: 14px;
    font-size: 12px;
  }
}
@media (max-width: 720px) {
  .Category {
    height: 40px;
    width: calc(100% - 40px);
    .categoryType {
      min-height: 100%;
      height: auto;
      border-bottom: 1px solid lighten(#24292e, 20%);
      div:last-child {
        display: flex;
        flex-direction: column;
      }
      &:first-child {
        border-right: none;
        margin: 0;
      }
      .btn {
        display: none;
        &:last-child {
          border-right: none;
        }
      }
    }
    .categoryAdd {
      border-right: none;
    }
  }
}